/* base */
@import '../base/layout.css';
@import '../base/reset.css';
@import '../base/variables.css';

/* 3rd party */

/* components */
@import '../components/button.css';

body {
    background-color: #eaebed;
}

.container {
    color: #343E48;
}

.container .title {
    display: inline-block; 
    width: 100%; 
    font-size: 100px; 
    font-weight: bold; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.container .describtion {
    display: inline-block; 
    width: 100%; 
    font-size: 30px; 
    margin: 0 0 30px;
}

.container .note {
    display: inline-block; 
    width: 100%; 
    font-size: 18px;
    margin: 0 0 20px;
}